.App {
  text-align: center;
}

.register-container{
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding: 20px;
    padding-top: 30px;
    height: 500px;
}

.mb-3{
    margin-top: 20px;
}

.heading{
    text-align: center;
}

.b1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}